@font-face {
    font-family: 'copperplate_gothic_lightRg';
    src: url('copperplate-gothic-light-webfont.eot');
    src: url('copperplate-gothic-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('copperplate-gothic-light-webfont.woff2') format('woff2'),
         url('copperplate-gothic-light-webfont.woff') format('woff'),
         url('copperplate-gothic-light-webfont.ttf') format('truetype'),
         url('copperplate-gothic-light-webfont.svg#copperplate_gothic_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
padding:0px;
margin:0px;
background-color: #DCE7F1;/*#7099F4;*/
font-family: 'copperplate_gothic_lightRg', 'Copperplate Gothic Light', fantasy;
}
.navbar
{
min-width: auto;
min-height: 120px;
max-height: 120px;
background-color: #010243;/*Consulting Club Blue*/
top:0px;
left:0px;
padding:0px;
margin:0px;
position: relative;
}
.navdiv
{
display:table-cell;
float:right;
color:white;
vertical-align: middle;
height: 50px;
min-width: 200px;
position: relative;
line-height: 40px;
text-align: center;
margin-top: 80px;
font-size: 24px;
cursor: pointer;
}
.menubar
{
width:100%;
background-color: #3F6EA7;
opacity: .68;
color: white;
height: 60px;
position: absolute;
z-index: 60;
top: 120px;
text-align: center;
display: none;
}
.menublock
{
display:inline-block;
height:60px;
line-height:60px;
font-size:24px;
width: 300px;
opacity: 1;
cursor: pointer;
}
