@font-face {
    font-family: 'copperplate_gothic_lightRg';
    src: url('../Fonts/copperplate-gothic-light-webfont.eot');
    src: url('../Fonts/copperplate-gothic-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/copperplate-gothic-light-webfont.woff2') format('woff2'),
         url('../Fonts/copperplate-gothic-light-webfont.woff') format('woff'),
         url('../Fonts/copperplate-gothic-light-webfont.ttf') format('truetype'),
         url('../Fonts/copperplate-gothic-light-webfont.svg#copperplate_gothic_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html
{
	font-size: 12px;
}
body
{
padding:0px;
margin:0px;
background-color: #DCE7F1;/*#7099F4;*/
font-family: 'copperplate_gothic_lightRg', fantasy;
}
#topLabel
{
	color:white; 
	position:absolute;
	top:0px;
	right:10px;
	font-size:3em;
}
.navbar
{
min-width: auto;
min-height: 120px;
max-height: 120px;
background-color: #010243;/*Consulting Club Blue*/
top:0px;
left:0px;
padding:0px;
margin:0px;
position: relative;
}
.navdiv
{
display:table-cell;
float:right;
color:white;
vertical-align: middle;
height: 50px;
min-width: 200px;
position: relative;
line-height: 40px;
text-align: center;
margin-top: 80px;
font-size: 2em;
cursor: pointer;
}
.menubar
{
width:100%;
background-color: #3F6EA7;
opacity: .68;
color: white;
height: 60px;
position: absolute;
z-index: 60;
text-align: center;
display: none;
}
.menublock
{
display:inline-block;
height:60px;
line-height:60px;
font-size:2em;
width: 300px;
opacity: 1;
cursor: pointer;
}
#logo
{
max-height: 120px;
}
.slideBar
{
position:absolute;
background:#383838;
min-height:100%;
min-width:20%;
z-index:6;
right: -1000%;
display: none;
}
#bars
{
color:white;
position:absolute;
right:8px;
top:0px;
font-size: 60px;
display: none;
}
.sideHeader
{
	color: #7E7E7E;
	font-size:1.5em;
	text-align: right;
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.sideSub
{
	display: block;
	position:relative;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 1.3em;
	cursor:pointer;
}



@media only screen and (max-width: 900px){
	#logo
	{
		max-height: 60px;
		min-height: 60px;
	}
	.navdiv
	{
		display:none;
	}
	.navbar
	{
		max-height: 60px;
		min-height: 60px;
	}
	#topLabel
	{
		display:none;
	}
	#bars
	{
	color:white;
	position:absolute;
	right:8px;
	top:0px;
	display: block;
	}
}
@media only screen and (max-width: 600px){
	html
	{
		font-size: 10px;
	}
}
@media only screen and (max-width: 500px){
	html
	{
		font-size: 7px;
	}
}
