/*Desktop Stylesheet*/
.maintitle
{
position:relative;
min-height: 65px;
width:75%;
line-height: 80px;
color: #010243;
text-align: center;
margin:auto;
border-bottom: 4px solid #010243;
font-size: 84px;
}
.subtitle
{
position:relative;
min-height: 100px;
width:75%;
line-height: 100px;
color: #010243;
text-align: center;
margin:auto;
font-size: 60px;

}
.news
{
position:relative;
min-height: 130px;
width:75%;
background-color:white;/* #BFD1E7;*/
color: #010243;
text-align: center;
margin:auto;
border-top: 4px solid #010243;

overflow: auto;
padding-top: 5px;
padding-bottom: 5px;
}
.subnews
{
min-width: 50%;
max-width: 50%;
text-align: center;
font-size: 36px;
display:inline-block;
}
.infobox_news_heading
{
	position:relative;
}
.infobox_news
{
	font-size: 16px;
	text-align: justify;
	width: 80%;
	height: auto;
	margin:auto;
	position:relative;
	line-height: 20px;
}

/*End Desktop Stylesheet*/